{% extends 'base.html' %}
{% block title %}
Eat2Gether
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
<br>
<h1>Location</h1>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.location.label(class = 'form-label') }}
        {{ form.location(class='form-control') }}
        <br>
        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>

{% if result_locations %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Time Estimate</th>
            <th scope="col">View More</th>
        </tr>
    </thead>
    <tbody>
        {% for location in result_locations %}
        <tr>
            <td>{{location[0]}}</td>
            <td>{{location[1]}} Mins <i class="fa-solid fa-person-walking" style="margin-left: 6px"></i></td>
            <td><a type="button" class="btn btn-success" href="https://www.google.com/maps/search/{{location[0]}}">Click here</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}