{% extends "header.html" %}
{% block content2 %}

<div id="section-2">
  <div class="container pt-5">
      <div class="row">
          <div class="col-md-4">
              <div class="wrapper">
              <div class="image">
                  {% if img %}
                  <img id="foodimage" onload="$(this).data('loaded', 'loaded');" src="{{ url_for('static',filename=img)}}" alt="">
                  {% else %}
                  <img id="foodimage" onload="$(this).data('loaded', 'loaded');" src="" alt="">               
                  {% endif %}               
              </div>
              <div class="content">
                  <div class="icon text-center">
                    <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <div class="text">
                      No file chosen, yet!
                  </div>
              </div>
              <div id="cancel-btn">
                  <i class="fas fa-times"></i>
              </div>
              <div class="file-name">
                  File name here
              </div>
              </div>
              <button onclick="defaultBtnActive()" id="custom-btn">Upload a Food Image</button>
              <form id='foodimgform' action="/img2ing" method="POST" enctype="multipart/form-data">
                <input id="default-btn" type="file" hidden name="imagefile">
              </form>
          </div>

  {% block home %}
  
  {% endblock %}

{% endblock %}

